<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Todos Ayudando Unidos S.C.</display-name>
    <!--Opciones para llenar contexto de la base de datos e inicializar el conector-->
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://servicio2020.caafufvdj2xl.us-west-2.rds.amazonaws.com/servicio2020</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>servicio2020</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>servicio2020</param-value>
    </context-param>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaNino</servlet-name>
        <servlet-class>Ninos.AltaNino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaInscripcion</servlet-name>
        <servlet-class>Ninos.AltaInscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaHorario</servlet-name>
        <servlet-class>Ninos.AltaHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaHistoriaClinica</servlet-name>
        <servlet-class>Ninos.AltaHistoriaClinica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTutor</servlet-name>
        <servlet-class>Tutores.AltaTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaPersonal</servlet-name>
        <servlet-class>Personal.AltaPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaEvento</servlet-name>
        <servlet-class>Eventos.AltaEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaNino</servlet-name>
        <servlet-class>Ninos.ModificaNino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaInscripcion</servlet-name>
        <servlet-class>Ninos.ModificaInscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaHorario</servlet-name>
        <servlet-class>Ninos.ModificaHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaHistoriaClinica</servlet-name>
        <servlet-class>Ninos.ModificaHistoriaClinica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaPersonal</servlet-name>
        <servlet-class>Personal.ModificaPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaNino</servlet-name>
        <servlet-class>Ninos.BajaNino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaPersonal</servlet-name>
        <servlet-class>Personal.BajaPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaTutor</servlet-name>
        <servlet-class>Tutores.BajaTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaTutor</servlet-name>
        <servlet-class>Tutores.ModificaTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaNino</servlet-name>
        <servlet-class>Ninos.BuscaNinoPorNombre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaNinoPorId</servlet-name>
        <servlet-class>Ninos.BuscaNinoPorId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaNino</servlet-name>
        <url-pattern>/AltaNino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaInscripcion</servlet-name>
        <url-pattern>/AltaInscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaHorario</servlet-name>
        <url-pattern>/AltaHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaHistoriaClinica</servlet-name>
        <url-pattern>/AltaHistoriaClinica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTutor</servlet-name>
        <url-pattern>/AltaTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaPersonal</servlet-name>
        <url-pattern>/AltaPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaEvento</servlet-name>
        <url-pattern>/AltaEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaNino</servlet-name>
        <url-pattern>/ModificaNino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaInscripcion</servlet-name>
        <url-pattern>/ModificaInscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaHorario</servlet-name>
        <url-pattern>/ModificaHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaHistoriaClinica</servlet-name>
        <url-pattern>/ModificaHistoriaClinica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaPersonal</servlet-name>
        <url-pattern>/ModificaPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaNino</servlet-name>
        <url-pattern>/BajaNino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaPersonal</servlet-name>
        <url-pattern>/BajaPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaTutor</servlet-name>
        <url-pattern>/BajaTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaTutor</servlet-name>
        <url-pattern>/ModificaTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaNino</servlet-name>
        <url-pattern>/BuscaNino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaNinoPorId</servlet-name>
        <url-pattern>/BuscaNinoPorId</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
